%div.col-sm-3.col-lg-3
  %div.dash-unit
    %dtitle << User Profile
    %hr
    %div.thumbnail
      %img.img-circle alt="{{user.name}}" src="http://www.prepbootstrap.com/Content/images/shared/single-page-admin/face80x80.jpg"
    %h1 <<
      =user.name
    %h3
      =user.email
    %br
    %div.info-user
      %span.li_user.fs1 aria-hidden="true"
      %span.li_settings.fs1 aria-hidden="true"
      %span.li_mail.fs1 aria-hidden="true"
      %span.li_key.fs1 aria-hidden="true"

