%div.dash-unit
  %dtitle << Fast Contact
  %hr
  %div.cont
    %form id="contact" method="POST" action="#get-in-touch"
      %input type="text" placeholder="Name" name="contactname" id="contactname"
      %input type="text" placeholder="Email" name="email" id="email"
      %div.textarea-container
        %textarea placeholder="Message" name="message" id="message"
      %input type="submit" value="Send" name="submit" id="submit"
