%div.col-sm-12.col-lg-12
  %h4
    %strong
      Rachunki
    |
    =link('bill:create', 'Dodaj', cls=['btn-sm', 'btn-primary'])
  %table.display
    %thead
      %tr
        %th << Data
        %th << Miejsce
    %tbody
      -for item in widget.items
        =item()
