{% extends auth['main_template'] %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <h1 class="page-header">{{auth['header']}}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Proszę się zarejestrować</h3>
                    </div>
                    {{form.form_error()}}
                    <div class="panel-body">
                        {{form.begin()}}
                            <fieldset>
                                {{form.text('name')}}
                                {{form.text('email')}}
                                {{form.password('password')}}
                                {{form.password('confirm_password')}}
                                {{form.submit('Zarejestruj')}}
                            </fieldset>
                        {{form.end()}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
