{% if error %}
    {% for message in messages %}
        <label for="username" generated="true" class="error">
            {{message}}
        </label>
    {% endfor %}
    {% for message in value_messages %}
        <label for="username" generated="true" class="error">
            {{message}}
        </label>
    {% endfor %}
{% endif %}
