<input
    value="{{value}}"
    name="{{name}}"
    id="{{id}}"
    type="text"
    placeholder="{{label}}"
    {%- if disabled %} disabled=disabled {% endif -%}
    >

{% include templates['field_error'] %}
