=need('jquery')
=need('bootstrap')
=need('main')
=need('fontstyle')
=need('flexslider')
%html
  %head
    %title
      We Wallet
    %link href="http://fonts.googleapis.com/css?family=Raleway:400,300" rel="stylesheet" type="text/css"
    %link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css"
  %body
    -block navbar
      %div.navbar-nav.navbar-inverse.navbar-fixed-top
        %div.container
          %div.navbar-header
            %button.navbar-toggle type="button" data-toggle="collapse" data-target=".navbar-collapse"
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.navbar-brand href="{{route_path('home')}}"
              %img src="http://www.prepbootstrap.com/Content/images/shared/single-page-admin/logo30.png" alt=""
              | BLOCKS Dashboard

          =topmenu()
    %div.container
      -block body
